<!DOCTYPE>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../res/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../res/css/style.css">
        {%block head%}{%endblock%}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <title></title>
    </head>
    <body>
        <!--Sección de contacto -->
        <section class="seccion-contacto">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <a href="/"><img src="../res/img/logo.png" alt="logo" class="center-block img-responsive"></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <p class="text-center">Llámanos</p>
                        <p class="text-center">5404-0436</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fin sección de contacto -->
        {%block content%}{%endblock%}
        <!-- Footer -->
        <section class="seccion-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ul class="list-inline text-center">
                           <li><a href="/" class="text-center">Página principal</a></li> 
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ul class="list-inline text-center">
                            <li><a href="/avisolegal">Aviso Legal</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <p class="text-center">© Grúas Catalán 2017 - Servicio de grúas en Escuintla / Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer-->
    </body>
</html>