{%extends "templates/base.html"%}
{%block head%}
<link rel="stylesheet" type="text/css" href="../res/css/style_puerto.css">
{%endblock%}
{%block content%}
<section class="seccion-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1 class="text-center" id="titulo-header">Servicio de grúas en toda el área del puerto <br> las 24 horas del día todos los días</h1>
                <div class="barra"></div>
            </div>
        </div>
        <div class="row promo-header">
            <div class="col-xs-12 col-sm-6 col-md-6" id="img-promo">
                <img src="../res/img/foto-page.png" alt="foto-gruas" class="img-responsive center-block">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <ul class="list-inline lista-header mover-item-promo-header">
                    <li><img src="../res/img/check.png" alt="servicios-check"></li>
                    <li>Auxilio en carretera</li>
                </ul>
                <ul class="list-inline lista-header mover-item-promo-header">
                    <li><img src="../res/img/check.png" alt="servicios-check"></li>
                    <li>Remolque de vehículo atascado</li>
                </ul>
                <ul class="list-inline lista-header mover-item-promo-header">
                    <li><img src="../res/img/check.png" alt="servicios-check"></li>
                    <li>Transporte pesado</li>
                </ul>
                <ul class="list-inline lista-header mover-item-promo-header">
                    <li><img src="../res/img/check.png" alt="servicios-check"></li>
                    <li>Rescate de vehículo accidentado</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="seccion-accion">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6" id="texto-accion">
                <p class="text-center">Llámanos será un placer servirte</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 padre-link">
                <div>
                    <a href="tel:54040436">Llamar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seccion-detalles">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2 class="text-center">Detalles de Nuestros Servicios</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3>Auxilio en carretera - Servicios viales</h3>
                <p>Paso de corriente con yomper, suministro de combustible, cerrajería automotriz</p>
            </div>
            <div class="Paso de corriente con yomper, suministro de combustible, cerrajería automotrizcol-xs-12 col-sm-12 col-md-12">
                <h3>Remolque - Recuperación de vehículos</h3>
                <p>Recuperamos vehículos atascados en arena con grúas especiales, remolque en carretera, en gasolineras</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3>Transporte pesado</h3>
                <p>Tenemos equipo especial para transportar vehículos pesados</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3>Rescate - Maniobras</h3>
                <p>Rescates de vehículos chocados, volcados, encunetados, en barrancos, nuestras gruas pueden con vehículos
                    que esten cargados o vacíos</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}